<!DOCTYPE html>
<html lang="en" ng-app='CounterApp'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ng-repeat</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1> The Digest Cycle</h1>
    <div ng-controller='CounterController'>
        <button ng-click="showNumberOfWatchers()">
            Log # of Watchers
        </button>
        <!--po dopaleniu stony watches jes równy 4 przez wszystkie akcje.-->
        <!--kiedy zaczniemy pisać cos w input watches bedzie zwiekszac sie o 2 bo akcja i sprawdzenie czy nie ma wiecej zmian-->
        <input type="text" ng-model="name">
        <div>
            <!--zwieksza raz o jeden-->
            <button ng-click="countOnce()">
                Up Once Counter (once)
            </button>
            <!--zwieksza o jeden po każdym kliknięciu-->
            <button ng-click="upCounter()">
                Increment Counter
            </button>
        </div>
        <div>
            <!--druga opcja wyświetlenia watches--> 
            Once counter: {{ onceCounter }} <br>
            Regular counter: {{ counter }}
        </div>
    </div>
</body>
</html>